<div class="container-fluid">
    <nav class="navbar navbar-light flex-nowrap" >
        <a class="navbar-brand">
            FOOD
        </a>
        <form class="form-inline flex-nowrap">
            <input class="form-control mr-1"
                   type="search"
                   placeholder="Search"
                   aria-label="Search">
            <button class="btn btn-outline-secondary" type="submit">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 8 8"
                >
                    <path d="M3.5 0c-1.93 0-3.5 1.57-3.5 3.5s1.57 3.5 3.5 3.5c.59 0 1.17-.14 1.66-.41a1 1 0 0 0 .13.13l1 1a1.02 1.02 0 1 0 1.44-1.44l-1-1a1 1 0 0 0-.16-.13c.27-.49.44-1.06.44-1.66 0-1.93-1.57-3.5-3.5-3.5zm0 1c1.39 0 2.5 1.11 2.5 2.5 0 .66-.24 1.27-.66 1.72-.01.01-.02.02-.03.03a1 1 0 0 0-.13.13c-.44.4-1.04.63-1.69.63-1.39 0-2.5-1.11-2.5-2.5s1.11-2.5 2.5-2.5z" />
                </svg>
            </button>
        </form>
    </nav>
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">Cheesy Pasta</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-auto px-2">Serves 4</div>
                <div class="col-auto px-2">V WF GF DF</div>
                <div class="col-auto px-2">15 mins prep 15 mins cook</div>
                <div class="col-auto px-2">Main course</div>
                <div class="col-auto px-2">Italian</div>
                <div class="col-auto px-2">150 kcal/serving</div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-12">
                    <h4 class="text-center text-sm-left">Ingredients</h4>
                    <ol class="list-unstyled text-center text-sm-left">
                        <li style="display: inline-block" class="text-nowrap">
                        Pasta <em>400g</em>,&nbsp;
                        </li>
                        <li style="display: inline-block" class="text-nowrap">
                        cheese <em>50g</em>,&nbsp;
                        </li>
                        <li style="display: inline-block" class="text-nowrap">
                        courgette <em>1</em>,&nbsp;
                        </li>
                        <li style="display: inline-block" class="text-nowrap">
                        tomato <em>4</em>,&nbsp;
                        </li>
                        <li style="display: inline-block" class="text-nowrap">
                        tuna <em>1 tin</em>,&nbsp;
                        </li>
                        <li style="display: inline-block" class="text-nowrap">
                        cumin <em>pinch</em>,&nbsp;
                        </li>
                        <li style="display: inline-block" class="text-nowrap">
                        salt <em>tspn</em>,&nbsp;
                        </li>
                        <li style="display: inline-block" class="text-nowrap">
                        pepper <em>pinch</em>.
                        </li>
                    </ol>
                </div>
            </div>
            <h4 class="text-center text-sm-left">Method</h4>
            <ol>
                <li>Put pasta in boiling water</li>
                <li>Heat oil in another pan</li>
                <li>Add courgette and tomato</li>
                <li>Once cooked add pasta to tomatoes and courgette</li>
                <li>Mix in cheese</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <em>17th March 2018 by Martin</em>
        </div>
    </div>
</div>
